.Toast {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: auto;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  
  #toastButton {
    width:10vh;
    max-height: 10vh;
  
  }

  #paginationstyle {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  #spanStyle {
color : blue;
cursor: pointer;
margin: 10px;
  }