.dragBox {
    height:90vh;
    width: 90vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.dragBox #box1{
    width:140px;
    height:200px;
    background-color: lemonchiffon;
}
.dragBox #box2{
    width:140px;
    height:200px;
    background-color: lemonchiffon;
}
.dragBox #img1 {
    padding:10px;
    width: 120px;
    height: 80px;
}
.dragBox #img2 {
    padding:10px;
    width: 120px;
    height: 80px;
}
.dragBox #img3 {
    padding:10px;
    width: '100%';
    height: '100%';
}
